torch
torchvision
transformers==4.25.1
timm==0.5.4
ojson
opencv-python-headless
datasets[vision]
lightning==2.0.0
nltk
python-Levenshtein
tqdm
sentencepiece
sconf==0.2.3
albumentations==1.0.0
pypdf==3.1.0
pypdfium2
Pillow
PyPDF2